# Violent Crime Dataset Exploration

### Dependencies

In [1]:
import pandas as pd

### Read in CSV and create DataFrame

In [2]:
filepath = "Output/cleaned_crime_by_jurisdiction.csv"
csv = pd.read_csv(filepath)
df = pd.DataFrame(csv)

### View head

In [3]:
df.head()

,report_year,agency_code,agency_jurisdiction,population,violent_crimes,homicides,rapes,assaults,robberies,crimes_percapita,homicides_percapita,rapes_percapita,assaults_percapita,robberies_percapita,state
0,1990,NM00101,"Albuquerque, NM",384736.0,5121.0,34.0,222.0,3835.0,1030.0,1331.04,8.84,57.70,996.79,267.72,NM
1,1990,TX22001,"Arlington, TX",261721.0,1876.0,8.0,139.0,1143.0,586.0,716.79,3.06,53.11,436.72,223.90,TX
2,1990,GAAPD00,"Atlanta, GA",394017.0,16097.0,231.0,695.0,9062.0,6109.0,4085.36,58.63,176.39,2299.90,1550.44,GA
3,1990,CO00101,"Aurora, CO",222103.0,3191.0,8.0,170.0,2616.0,397.0,1436.72,3.60,76.54,1177.83,178.75,CO
4,1990,TX22701,"Austin, TX",465622.0,3326.0,46.0,280.0,1539.0,1461.0,714.31,9.88,60.13,330.53,313.77,TX

### Determine jurisdictions with highest mean crimes_percapita over all years

In [4]:
df.groupby('agency_jurisdiction').crimes_percapita.mean().sort_values(ascending=False)

agency_jurisdiction
St. Louis, MO                 2463.630000
Atlanta, GA                   2382.787308
Detroit, MI                   2263.590385
Miami, FL                     2196.326923
Baltimore, MD                 2086.754615
Newark, NJ                    1922.306538
Tampa, FL                     1883.245769
Oakland, CA                   1823.308077
Chicago, IL                   1765.390769
Washington, DC                1747.042692
Kansas City, MO               1744.826154
Orlando, FL                   1729.573846
Memphis, TN                   1678.066923
Nashville, TN                 1485.658462
Cleveland, OH                 1456.494000
Buffalo, NY                   1431.170000
Minneapolis, MN               1371.485385
Boston, MA                    1331.079615
Philadelphia, PA              1327.703462
Dallas, TX                    1306.570000
New Orleans, LA               1301.461154
Los Angeles, CA               1274.272692
Charlotte, NC                 1268.121923
Indianapolis, IN              1250.363077
Houston, TX                   1182.031154
Cincinnati, OH                1164.097083
Tulsa, OK                     1149.771923
Albuquerque, NM               1106.578077
Milwaukee, WI                 1102.027308
Miami-Dade County, FL         1095.015769
                                 ...
Prince George's County, MD     946.225000
Long Beach, CA                 930.396154
Fresno, CA                     926.119231
Fort Worth, TX                 901.593077
Tucson, AZ                     883.308462
Las Vegas, NV                  871.106154
Columbus, OH                   847.285000
Seattle, WA                    825.680769
Omaha, NE                      804.686154
Baltimore County, MD           797.840000
Phoenix, AZ                    791.386923
Wichita, KS                    779.924231
Salt Lake City, UT             756.027308
Aurora, CO                     749.741923
Denver, CO                     709.062308
San Diego, CA                  673.554231
Raleigh, NC                    663.841538
El Paso, TX                    653.926154
Arlington, TX                  650.366923
San Antonio, TX                612.857692
Louisville, KY                 600.059231
Mesa, AZ                       571.704231
Austin, TX                     529.665000
San Jose, CA                   501.784615
Honolulu, HI                   273.843077
Montgomery County, MD          229.415385
Virginia Beach, VA             223.622308
Suffolk County, NY             183.198846
Nassau County, NY              165.747692
Fairfax County, VA              84.597692
Name: crimes_percapita, Length: 68, dtype: float64

### City search for above grouped dataframe

In [5]:
search_term = "Jacksonville"
ranked = pd.DataFrame(df.groupby('agency_jurisdiction').crimes_percapita.mean().sort_values(ascending=False).reset_index())
for index, row in ranked.iterrows():
    if search_term in row['agency_jurisdiction']:
        print(row)

agency_jurisdiction    Jacksonville, FL
crimes_percapita                1071.32
Name: 32, dtype: object

In [7]:
len(df)/26

67.3076923076923