# School Shootings Dataset, Exploration

### Dependencies

In [1]:
import pandas as pd

### Read in CSV and create DataFrame

In [2]:
filepath = '../../output/cleaned_school_shootings_1990_2018.csv'
csv = pd.read_csv(filepath)
df = pd.DataFrame(csv)

### View head and dtypes

In [3]:
df.head()

      Date         City      State  Fatalities  Year   Latitude   Longitude
0  3/27/90     Brooklyn   New York           0  1990  40.678178  -73.944158
1  5/20/90  Centerville  Tennessee           1  1990  39.628393  -84.159382
2  8/26/90    Las Vegas     Nevada           1  1990  36.169941 -115.139830
3  9/11/90  San Antonio      Texas           0  1990  29.424122  -98.493628
4   1/8/91   Richardson      Texas           0  1991  32.959623  -96.730986

In [4]:
df.dtypes

Date           object
City           object
State          object
Fatalities      int64
Year            int64
Latitude      float64
Longitude     float64
dtype: object

### Rank cities by number of school shootings

In [8]:
# Date is chosen as count column, any column could have been chosen
df.groupby('City').Date.count().sort_values(ascending=False)

City
Chicago                 13
Detroit                 11
Los Angeles             11
Houston                 10
Philadelphia             7
Memphis                  7
Seattle                  7
Atlanta                  5
Cleveland                5
Brooklyn                 5
Sacramento               5
Jacksonville             5
Washington               4
St. Louis                4
Phoenix                  4
Miami                    4
New Orleans              4
San Antonio              4
Dallas                   4
Fayetteville             4
Savannah                 3
Greensboro               3
San Diego                3
Chapel Hill              3
Fresno                   3
Nashville                3
Columbia                 3
Tacoma                   3
Birmingham               3
Mobile                   3
                        ..
Palm Beach Gardens       1
Palmetto                 1
Palo Alto                1
Paradis                  1
Parkersburg              1
Pasadena                 1
Pearl                    1
Pearl City               1
Pennsburg                1
Perry Hall               1
Pierce County            1
Orangeburg               1
Opelika                  1
Olivehurst               1
North Las Vegas          1
New London               1
New Port Richey          1
New York City            1
Newtown                  1
Nine Mile Falls          1
Normal                   1
North Miami              1
Olathe                   1
North Richland Hills     1
Norwalk                  1
Notus                    1
Oakland                  1
Ocala                    1
Ogden                    1
Acton                    1
Name: Date, Length: 339, dtype: int64

In [ ]:
# note: will need to do the above ranking on a per-capita basis