# UCR Violent Crimes per Capita by State Cleaning
- acquired by using the UCR data tool www.ucrdatatool.gov
- voluntarily reporting jurisdictions submit crime data to the FBI, along with the population inside the jurisdiction
    - this is used to calculate a violent crime rate for the jurisdiction (violent crimes per 100,000 people)
    - results represent the mean of all reporting jurisdictions in the state
- columns are states, rows are years, fields are violent crimes per 100,000 people
- dataset is very clean, just need to change the way it is structured

### Dependencies

In [1]:
import pandas as pd
import numpy as np
import requests
import json

### Read in CSV and create Dataframe

In [75]:
filepath = 'data/raw/ucr_violent_crime_rate_by_state.csv'
csv = pd.read_csv(filepath)
df = pd.DataFrame(csv)

### View head and dtypes

In [76]:
df.head()

,Year,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,District of Columbia,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
0,1990,708.6,524.5,652.4,532.2,1045.2,526.0,553.7,655.2,2458.2,...,162.8,670.4,761.4,283.9,127.2,350.6,501.6,169.3,264.7,301.4
1,1991,844.2,613.9,670.7,593.3,1089.9,559.3,539.7,714.3,2453.3,...,182.2,725.9,840.1,286.8,116.8,373.2,522.6,191.0,277.0,310.2
2,1992,871.7,660.5,670.8,576.5,1119.7,578.8,495.3,621.2,2832.8,...,194.5,746.2,806.3,290.5,109.5,374.9,534.5,211.5,275.7,319.5
3,1993,780.4,760.8,715.0,593.3,1077.8,567.3,456.2,685.9,2921.8,...,208.4,765.8,762.1,301.0,114.2,372.2,514.6,208.4,264.4,286.2
4,1994,683.7,766.3,703.1,595.1,1013.0,509.6,455.5,644.3,2662.6,...,227.6,747.9,706.5,304.5,96.9,357.7,511.3,215.8,270.5,272.5

In [77]:
df = df.set_index('Year').T
df.index.names = ['State']
df = df.reset_index()

In [78]:
df.head()

Year,State,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014
0,Alabama,708.6,844.2,871.7,780.4,683.7,632.4,565.4,564.5,512.1,...,433.0,425.2,448.9,452.8,450.1,383.7,419.8,450.3,431.0,427.4
1,Alaska,524.5,613.9,660.5,760.8,766.3,770.9,727.7,701.1,653.9,...,632.0,688.0,661.3,652.1,633.4,635.3,610.1,604.1,638.7,635.8
2,Arizona,652.4,670.7,670.8,715.0,703.1,713.5,631.5,623.7,577.9,...,512.0,542.6,518.0,485.6,426.5,413.6,414.2,428.6,415.6,399.9
3,Arkansas,532.2,593.3,576.5,593.3,595.1,553.2,524.3,526.9,490.2,...,528.0,552.8,537.1,513.0,515.8,503.5,482.3,469.6,463.2,480.1
4,California,1045.2,1089.9,1119.7,1077.8,1013.0,966.0,862.7,798.3,703.7,...,526.0,533.5,524.1,504.2,473.3,439.6,411.2,423.5,402.6,396.1

### Reorganize DataFrame

,Year,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,District of Columbia,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
0,1990,708.6,524.5,652.4,532.2,1045.2,526.0,553.7,655.2,2458.2,...,162.8,670.4,761.4,283.9,127.2,350.6,501.6,169.3,264.7,301.4
1,1991,844.2,613.9,670.7,593.3,1089.9,559.3,539.7,714.3,2453.3,...,182.2,725.9,840.1,286.8,116.8,373.2,522.6,191.0,277.0,310.2
2,1992,871.7,660.5,670.8,576.5,1119.7,578.8,495.3,621.2,2832.8,...,194.5,746.2,806.3,290.5,109.5,374.9,534.5,211.5,275.7,319.5
3,1993,780.4,760.8,715.0,593.3,1077.8,567.3,456.2,685.9,2921.8,...,208.4,765.8,762.1,301.0,114.2,372.2,514.6,208.4,264.4,286.2
4,1994,683.7,766.3,703.1,595.1,1013.0,509.6,455.5,644.3,2662.6,...,227.6,747.9,706.5,304.5,96.9,357.7,511.3,215.8,270.5,272.5

In [7]:
coordinateList = requests.get('http://eric.clst.org/assets/wiki/uploads/Stuff/gz_2010_us_040_00_20m.json').json()

In [8]:
print(json.dumps(coordinateList['features'][0], indent=4))

{
    "type": "Feature",
    "properties": {
        "GEO_ID": "0400000US04",
        "STATE": "04",
        "NAME": "Arizona",
        "LSAD": "",
        "CENSUSAREA": 113594.084
    },
    "geometry": {
        "type": "Polygon",
        "coordinates": [
            [
                [
                    -112.538593,
                    37.000674
                ],
                [
                    -112.534545,
                    37.000684
                ],
                [
                    -112.368946,
                    37.001125
                ],
                [
                    -112.35769,
                    37.001025
                ],
                [
                    -111.412784,
                    37.001478
                ],
                [
                    -111.405869,
                    37.001481
                ],
                [
                    -111.405517,
                    37.001497
                ],
                [
                    -111.189888,
                    37.000959
                ],
                [
                    -110.75069,
                    37.003197
                ],
                [
                    -110.495259,
                    37.003875
                ],
                [
                    -110.33105,
                    36.998216
                ],
                [
                    -110.000677,
                    36.997968
                ],
                [
                    -109.381226,
                    36.999148
                ],
                [
                    -109.378039,
                    36.999135
                ],
                [
                    -109.270097,
                    36.999266
                ],
                [
                    -109.268213,
                    36.999242
                ],
                [
                    -109.26339,
                    36.999263
                ],
                [
                    -109.246917,
                    36.999346
                ],
                [
                    -109.233848,
                    36.999266
                ],
                [
                    -109.181196,
                    36.999271
                ],
                [
                    -109.045223,
                    36.999084
                ],
                [
                    -109.045244,
                    36.969489
                ],
                [
                    -109.045272,
                    36.968871
                ],
                [
                    -109.045407,
                    36.874998
                ],
                [
                    -109.045433,
                    36.874589
                ],
                [
                    -109.045973,
                    36.002338
                ],
                [
                    -109.046011,
                    35.925896
                ],
                [
                    -109.046054,
                    35.92586
                ],
                [
                    -109.046055,
                    35.888721
                ],
                [
                    -109.046024,
                    35.8798
                ],
                [
                    -109.046295,
                    35.616517
                ],
                [
                    -109.046296,
                    35.614251
                ],
                [
                    -109.046509,
                    35.54644
                ],
                [
                    -109.046481,
                    35.546326
                ],
                [
                    -109.046082,
                    35.174665
                ],
                [
                    -109.045851,
                    34.959718
                ],
                [
                    -109.046156,
                    34.579291
                ],
                [
                    -109.046182,
                    34.522553
                ],
                [
                    -109.046182,
                    34.522393
                ],
                [
                    -109.046627,
                    33.778233
                ],
                [
                    -109.04687,
                    33.372654
                ],
                [
                    -109.047045,
                    33.36928
                ],
                [
                    -109.046909,
                    33.36557
                ],
                [
                    -109.046827,
                    33.365272
                ],
                [
                    -109.047237,
                    33.208965
                ],
                [
                    -109.047116,
                    33.137995
                ],
                [
                    -109.047117,
                    33.137559
                ],
                [
                    -109.047013,
                    33.092917
                ],
                [
                    -109.046905,
                    33.091931
                ],
                [
                    -109.047453,
                    33.069427
                ],
                [
                    -109.04748,
                    33.06842
                ],
                [
                    -109.047117,
                    32.77757
                ],
                [
                    -109.047117,
                    32.777569
                ],
                [
                    -109.047638,
                    32.693439
                ],
                [
                    -109.047645,
                    32.689988
                ],
                [
                    -109.047653,
                    32.686327
                ],
                [
                    -109.047653,
                    32.681379
                ],
                [
                    -109.047926,
                    32.426376
                ],
                [
                    -109.048286,
                    32.089114
                ],
                [
                    -109.048296,
                    32.084093
                ],
                [
                    -109.048731,
                    32.028174
                ],
                [
                    -109.048599,
                    32.013651
                ],
                [
                    -109.04859,
                    31.870791
                ],
                [
                    -109.048769,
                    31.861383
                ],
                [
                    -109.048763,
                    31.810776
                ],
                [
                    -109.049195,
                    31.796551
                ],
                [
                    -109.049813,
                    31.499528
                ],
                [
                    -109.049843,
                    31.499515
                ],
                [
                    -109.050044,
                    31.332502
                ],
                [
                    -109.426931,
                    31.334033
                ],
                [
                    -110.460172,
                    31.333051
                ],
                [
                    -110.760997,
                    31.332765
                ],
                [
                    -110.976828,
                    31.33256
                ],
                [
                    -111.098097,
                    31.339836
                ],
                [
                    -111.366635,
                    31.42588
                ],
                [
                    -111.57953,
                    31.494095
                ],
                [
                    -112.246102,
                    31.704195
                ],
                [
                    -112.867074,
                    31.895488
                ],
                [
                    -113.125961,
                    31.97278
                ],
                [
                    -113.333794,
                    32.038521
                ],
                [
                    -113.493196,
                    32.088943
                ],
                [
                    -114.250775,
                    32.32391
                ],
                [
                    -114.813613,
                    32.494277
                ],
                [
                    -114.809393,
                    32.617119
                ],
                [
                    -114.80739,
                    32.621332
                ],
                [
                    -114.799302,
                    32.625115
                ],
                [
                    -114.781872,
                    32.62505
                ],
                [
                    -114.753111,
                    32.658304
                ],
                [
                    -114.748,
                    32.664184
                ],
                [
                    -114.719633,
                    32.718763
                ],
                [
                    -114.678632,
                    32.736614
                ],
                [
                    -114.677091,
                    32.736218
                ],
                [
                    -114.65884,
                    32.73383
                ],
                [
                    -114.65826,
                    32.733799
                ],
                [
                    -114.615585,
                    32.728446
                ],
                [
                    -114.615733,
                    32.729427
                ],
                [
                    -114.496827,
                    32.822119
                ],
                [
                    -114.496284,
                    32.822326
                ],
                [
                    -114.465715,
                    32.879191
                ],
                [
                    -114.465715,
                    32.87942
                ],
                [
                    -114.46289,
                    32.905797
                ],
                [
                    -114.468605,
                    32.971649
                ],
                [
                    -114.511343,
                    33.023455
                ],
                [
                    -114.516912,
                    33.026871
                ],
                [
                    -114.523578,
                    33.030961
                ],
                [
                    -114.571653,
                    33.036624
                ],
                [
                    -114.578287,
                    33.035375
                ],
                [
                    -114.584765,
                    33.028231
                ],
                [
                    -114.589778,
                    33.026228
                ],
                [
                    -114.606282,
                    33.025703
                ],
                [
                    -114.62387,
                    33.02872
                ],
                [
                    -114.675104,
                    33.047532
                ],
                [
                    -114.707819,
                    33.091102
                ],
                [
                    -114.706175,
                    33.105335
                ],
                [
                    -114.696829,
                    33.131209
                ],
                [
                    -114.687074,
                    33.142196
                ],
                [
                    -114.679359,
                    33.159519
                ],
                [
                    -114.67536,
                    33.185489
                ],
                [
                    -114.672088,
                    33.258499
                ],
                [
                    -114.700103,
                    33.341045
                ],
                [
                    -114.721233,
                    33.396912
                ],
                [
                    -114.665278,
                    33.415358
                ],
                [
                    -114.627125,
                    33.433554
                ],
                [
                    -114.622918,
                    33.456561
                ],
                [
                    -114.594534,
                    33.495059
                ],
                [
                    -114.558898,
                    33.531819
                ],
                [
                    -114.535664,
                    33.568788
                ],
                [
                    -114.535965,
                    33.569154
                ],
                [
                    -114.5403,
                    33.580615
                ],
                [
                    -114.540617,
                    33.591412
                ],
                [
                    -114.530348,
                    33.679245
                ],
                [
                    -114.523959,
                    33.685879
                ],
                [
                    -114.519113,
                    33.688473
                ],
                [
                    -114.496489,
                    33.696901
                ],
                [
                    -114.494197,
                    33.707922
                ],
                [
                    -114.50434,
                    33.756381
                ],
                [
                    -114.523365,
                    33.80612
                ],
                [
                    -114.525539,
                    33.838614
                ],
                [
                    -114.518434,
                    33.917518
                ],
                [
                    -114.499883,
                    33.961789
                ],
                [
                    -114.46361,
                    33.993431
                ],
                [
                    -114.438266,
                    34.022609
                ],
                [
                    -114.434949,
                    34.037784
                ],
                [
                    -114.435429,
                    34.079727
                ],
                [
                    -114.43338,
                    34.088413
                ],
                [
                    -114.420499,
                    34.103466
                ],
                [
                    -114.411681,
                    34.110031
                ],
                [
                    -114.401352,
                    34.111652
                ],
                [
                    -114.390565,
                    34.110084
                ],
                [
                    -114.366521,
                    34.118575
                ],
                [
                    -114.321618,
                    34.138093
                ],
                [
                    -114.312592,
                    34.144453
                ],
                [
                    -114.244191,
                    34.179625
                ],
                [
                    -114.225861,
                    34.201774
                ],
                [
                    -114.164476,
                    34.251667
                ],
                [
                    -114.133264,
                    34.258462
                ],
                [
                    -114.131489,
                    34.260387
                ],
                [
                    -114.138282,
                    34.30323
                ],
                [
                    -114.176909,
                    34.349306
                ],
                [
                    -114.199482,
                    34.361373
                ],
                [
                    -114.264317,
                    34.401329
                ],
                [
                    -114.339627,
                    34.451435
                ],
                [
                    -114.452547,
                    34.653494
                ],
                [
                    -114.465607,
                    34.69226
                ],
                [
                    -114.552682,
                    34.766871
                ],
                [
                    -114.633051,
                    34.869971
                ],
                [
                    -114.635176,
                    34.875003
                ],
                [
                    -114.636725,
                    34.889107
                ],
                [
                    -114.630877,
                    34.907263
                ],
                [
                    -114.629015,
                    34.986148
                ],
                [
                    -114.62919,
                    34.991887
                ],
                [
                    -114.633013,
                    35.002085
                ],
                [
                    -114.633544,
                    35.015644
                ],
                [
                    -114.635469,
                    35.028266
                ],
                [
                    -114.621956,
                    35.094678
                ],
                [
                    -114.59912,
                    35.12105
                ],
                [
                    -114.5843,
                    35.124999
                ],
                [
                    -114.578524,
                    35.12875
                ],
                [
                    -114.572747,
                    35.138725
                ],
                [
                    -114.569569,
                    35.163053
                ],
                [
                    -114.569238,
                    35.18348
                ],
                [
                    -114.595931,
                    35.325234
                ],
                [
                    -114.604314,
                    35.353584
                ],
                [
                    -114.627137,
                    35.409504
                ],
                [
                    -114.652005,
                    35.429165
                ],
                [
                    -114.662125,
                    35.444241
                ],
                [
                    -114.677643,
                    35.489742
                ],
                [
                    -114.676733,
                    35.499063
                ],
                [
                    -114.674981,
                    35.510564
                ],
                [
                    -114.671147,
                    35.520641
                ],
                [
                    -114.653806,
                    35.59949
                ],
                [
                    -114.653406,
                    35.610789
                ],
                [
                    -114.657506,
                    35.618289
                ],
                [
                    -114.676707,
                    35.640989
                ],
                [
                    -114.689407,
                    35.651412
                ],
                [
                    -114.700308,
                    35.700387
                ],
                [
                    -114.70771,
                    35.811885
                ],
                [
                    -114.705611,

pandas.core.frame.DataFrame

In [25]:
stateType = []
stateID = []
stateName = []
geometry = []

In [26]:
for feature in coordinateList['features']:
    stateType.append(feature['type'])
    stateID.append(feature['properties']['STATE'])
    stateName.append(feature['properties']['NAME'])
    geometry.append(feature['geometry'])

In [31]:
allCoords = {
    'type' : stateType,
    'stateid' : stateID,
    'stateName' : stateName,
    'geometry' : geometry
}

coordsDF = pd.DataFrame(data=allCoords)

In [32]:
coordsDF.head()

,geometry,stateName,stateid,type
0,"{'type': 'Polygon', 'coordinates': [[[-112.538...",Arizona,04,Feature
1,"{'type': 'Polygon', 'coordinates': [[[-94.0429...",Arkansas,05,Feature
2,"{'type': 'MultiPolygon', 'coordinates': [[[[-1...",California,06,Feature
3,"{'type': 'Polygon', 'coordinates': [[[-107.317...",Colorado,08,Feature
4,"{'type': 'Polygon', 'coordinates': [[[-72.3974...",Connecticut,09,Feature

In [ ]:
d = {'col1': [1, 2], 'col2': [3, 4]}
>>> df = pd.DataFrame(data=d)
>>> df
   col1  col2
0     1     3
1     2     4

In [22]:
for feature in coordinateList['features']:
    stateType = feature['type']
    stateID = feature['properties']['STATE']
    stateName = feature['properties']['NAME']
    geometryType = feature['geometry']['type']
    geometryCoords = feature['geometry']['coordinates']
    
    coordsDF = coordsDF.append(pd.DataFrame({'type':stateType,
                                             'stateid':stateID,
                                             'state':stateName,
                                             'geotype':geometryType,
                                             'geocoords':geometryCoords}))

In [23]:
coordsDF.head()

,geocoords,geometry,geotype,state,stateid,type
0,"[[-112.538593, 37.000674], [-112.534545, 37.00...",NaN,Polygon,Arizona,04,Feature
0,"[[-94.042964, 33.019219], [-94.043036, 33.0794...",NaN,Polygon,Arkansas,05,Feature
0,"[[[-120.248484, 33.999329], [-120.247393, 34.0...",NaN,MultiPolygon,California,06,Feature
1,"[[[-119.789798, 34.05726], [-119.770729, 34.05...",NaN,MultiPolygon,California,06,Feature
2,"[[[-120.46258, 34.042627], [-120.440248, 34.03...",NaN,MultiPolygon,California,06,Feature

In [ ]:
data = data.append(pd.DataFrame({'A': i, 'B': i + 1}, index=[0]), ignore_index=True)

### Export expanded dataframe

In [ ]:
newdf.to_csv('Output/ucr_violent_crime_rate_by_state_expanded.csv')