In [1]:
#################################################
# Dependencies
#################################################
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine, MetaData, func #connect to database
# from sqlalchemy.ext.declarative import declarative_base #classes into tables
from sqlalchemy import Column, Integer, String, Float, Date, VARCHAR #allow us to declare column typs
from sqlalchemy.dialects.mysql import LONGTEXT
from sqlalchemy.orm import Session
from sqlalchemy.ext.automap import automap_base
import pymysql
# pymysql.install_as_MySQLdb() # starts creating connection from Python to SQL database

from dataEngineering import choroplethCoords, ucrData, schoolShootings

In [2]:
#################################################
# Engine Setup
#################################################
# engine = create_engine('sqlite:///data/data.sqlite')
engine = create_engine('postgres://lqehqdnexeuwdi:e299f2b76843b838b81976e7cb183859f28b1cd99e6aa417fdce1340ce00fece@ec2-54-243-210-70.compute-1.amazonaws.com:5432/dbenqc5p6hbe3e')
# engine = create_engine('mysql://root:0i5JwkgSIOzEp1I@localhost:3306/CrimeMapping')
# engine = create_engine('postgresql://nupur_mathur:1BPdfWvnTSvMGDrPp48u5pQF0@localhost/crime_data')

# Create connection
conn = engine.connect()

In [23]:
meta = MetaData()
meta.reflect(bind=engine)
for table in reversed(meta.sorted_tables):
    print (table)

violent_crime
vcr
unemployment
state_coordinates
school_shootings
population
murder
median_household_income_stderr
median_household_income

In [ ]:
#################################################
# Add Tables from DFs
#################################################
# # Create cleaned dataframes from raw sources:
# vcrData = ucrData('data/raw/ucr_violent_crime_rate_by_state.csv')
# choroplethCoordsData = choroplethCoords()
# schoolShootingsData = schoolShootings()

# # Convert DF into DB tables (and create primary key)
# # conn.execute('DROP TABLE IF EXISTS vcr;')
# ucrData.to_sql(name='vcr', con=engine, if_exists = 'replace', index=True)
# conn.execute('ALTER TABLE vcr ADD PRIMARY KEY (index);')

# # conn.execute('DROP TABLE IF EXISTS state_coordinates;')
# choroplethCoordsData.to_sql(name='state_coordinates', con=engine, if_exists = 'replace', index=True)
# conn.execute('ALTER TABLE state_coordinates ADD PRIMARY KEY (index);')

# # conn.execute('DROP TABLE IF EXISTS school_shootings;')
# schoolShootingsData.to_sql(name='school_shootings', con=engine, if_exists = 'replace', index=True)
# conn.execute('ALTER TABLE school_shootings ADD PRIMARY KEY (index);')

In [ ]:
unemploymentData = ucrData('raw/clean_unemployment_by_state.csv')
unemploymentData.head()

In [17]:
conn.execute('DROP TABLE IF EXISTS unemployment;')
unemploymentData.to_sql(name='unemployment', con=engine, if_exists ='replace', index=True)
conn.execute('ALTER TABLE unemployment ADD PRIMARY KEY (index);')

In [ ]:
populationData = ucrData('raw/clean_population_by_year.csv')
populationData.head()

In [18]:
conn.execute('DROP TABLE IF EXISTS population;')
populationData.to_sql(name='population', con=engine, if_exists = 'replace', index=True)
conn.execute('ALTER TABLE population ADD PRIMARY KEY (index);')

In [ ]:
medHouseIncomeData = ucrData('raw/clean_census_median_household_income.csv')
medHouseIncomeData.head()

In [19]:
conn.execute('DROP TABLE IF EXISTS median_household_income;')
medHouseIncomeData.to_sql(name='median_household_income', con=engine, if_exists = 'replace', index=True)
conn.execute('ALTER TABLE median_household_income ADD PRIMARY KEY (index);')

In [ ]:
medHouseIncomeStderrData = ucrData('raw/clean_census_median_household_income_stderr.csv')
medHouseIncomeStderrData.head()

In [20]:
conn.execute('DROP TABLE IF EXISTS median_household_income_stderr;')
medHouseIncomeStderrData.to_sql(name='median_household_income_stderr', con=engine, if_exists = 'replace', index=True)
conn.execute('ALTER TABLE median_household_income_stderr ADD PRIMARY KEY (index);')

In [ ]:
murderData = ucrData('raw/ucr_murder_and_nonnegligent_manslaughter.csv')
murderData.head()

In [21]:
conn.execute('DROP TABLE IF EXISTS murder;')
murderData.to_sql(name='murder', con=engine, if_exists = 'replace', index=True)
conn.execute('ALTER TABLE murder ADD PRIMARY KEY (index);')

In [ ]:
violentCrimeData = ucrData('raw/ucr_violent_crime_total.csv')
violentCrimeData.head()

In [22]:
# conn.execute('DROP TABLE IF EXISTS violent_crime;')
violentCrimeData.to_sql(name='violent_crime', con=engine, if_exists = 'replace', index=True)
conn.execute('ALTER TABLE violent_crime ADD PRIMARY KEY (index);')

In [10]:
violentCrimeData.head()

Year,state,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,stateId
0,Alabama,28630,34518,36052,32676,28844,26894,24159,24379,22286,...,19553,20775,21110,21194,18363,20166,21693,20834,20727,01
1,Alaska,2885,3499,3877,4557,4644,4656,4417,4270,4015,...,4610,4520,4475,4424,4537,4416,4412,4709,4684,02
2,Arizona,23911,25152,25706,28142,28653,30095,27963,28411,26984,...,33456,32835,31567,28128,26528,26789,28077,27576,26916,04
3,Arkansas,12511,14072,13831,14381,14598,13741,13161,13293,12442,...,15538,15226,14649,14905,14711,14173,13851,13705,14243,05
4,California,311051,331122,345624,336381,318395,305154,274996,257582,229883,...,194483,191561,185329,174934,164133,154943,160944,154739,153709,06