In [23]:
#################################################
# Dependencies
#################################################
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine, MetaData, func #connect to database
# from sqlalchemy.ext.declarative import declarative_base #classes into tables
from sqlalchemy import Column, Integer, String, Float, Date, VARCHAR #allow us to declare column typs
from sqlalchemy.dialects.mysql import LONGTEXT
from sqlalchemy.orm import Session
from sqlalchemy.ext.automap import automap_base
import pymysql
# pymysql.install_as_MySQLdb() # starts creating connection from Python to SQL database

from dataEngineering import choroplethCoords, ucrData, schoolShootings, foreclosureData, snapData

In [24]:
#################################################
# Engine Setup
#################################################
# engine = create_engine('sqlite:///data/data.sqlite')
engine = create_engine('postgres://lqehqdnexeuwdi:e299f2b76843b838b81976e7cb183859f28b1cd99e6aa417fdce1340ce00fece@ec2-54-243-210-70.compute-1.amazonaws.com:5432/dbenqc5p6hbe3e')
# engine = create_engine('mysql://root:0i5JwkgSIOzEp1I@localhost:3306/CrimeMapping')
# engine = create_engine('postgresql://nupur_mathur:1BPdfWvnTSvMGDrPp48u5pQF0@localhost/crime_data')

# Create connection
conn = engine.connect()

In [56]:
meta = MetaData()
meta.reflect(bind=engine)

In [57]:
for table in reversed(meta.sorted_tables):
    print (table)

violent_crime
vcr
unemployment
state_coordinates
snap
school_shootings
population
murder
median_household_income_stderr
median_household_income
foreclosure

#### VIOLENT CRIME RATE ####

In [27]:
vcrData = ucrData('raw/ucr_violent_crime_rate_by_state.csv')
# conn.execute('DROP TABLE IF EXISTS vcr;')

In [28]:
vcrData.to_sql(name='vcr', con=engine, if_exists ='replace', index=True)
conn.execute('ALTER TABLE vcr ADD PRIMARY KEY (index);')
####################

#### VIOLENT CRIME ####

In [29]:
violentCrimeData = ucrData('raw/ucr_violent_crime_total.csv')

In [30]:
# conn.execute('DROP TABLE IF EXISTS violent_crime;')
violentCrimeData.to_sql(name='violent_crime', con=engine, if_exists = 'replace', index=False)
conn.execute('ALTER TABLE violent_crime ADD PRIMARY KEY ("stateId");')
####################

#### MURDER ####

In [31]:
murderData = ucrData('raw/ucr_murder_and_nonnegligent_manslaughter.csv')
# conn.execute('DROP TABLE IF EXISTS violent_crime;')

In [32]:
murderData.to_sql(name='murder', con=engine, if_exists = 'replace', index=False)
conn.execute('ALTER TABLE murder ADD PRIMARY KEY ("stateId");')
####################

#### UNEMPLOYMENT ####

In [33]:
unemploymentData = ucrData('raw/clean_unemployment_by_state.csv')
# conn.execute('DROP TABLE IF EXISTS unemployment;')

In [35]:
unemploymentData.to_sql(name='unemployment', con=engine, if_exists ='replace', index=False)
conn.execute('ALTER TABLE unemployment ADD PRIMARY KEY ("stateId");')
####################

#### POPULATION ####

In [36]:
populationData = ucrData('raw/clean_population_by_year.csv')
# conn.execute('DROP TABLE IF EXISTS population;')

In [37]:
populationData.to_sql(name='population', con=engine, if_exists = 'replace', index=False)
conn.execute('ALTER TABLE population ADD PRIMARY KEY ("stateId");')
####################

#### MEDIAN HOUSEHOLD INCOME ####

In [40]:
medHouseIncomeData = ucrData('raw/clean_census_median_household_income.csv')
# conn.execute('DROP TABLE IF EXISTS median_household_income_stderr;')

In [41]:
medHouseIncomeData.to_sql(name='median_household_income', con=engine, if_exists = 'replace', index=False)
conn.execute('ALTER TABLE median_household_income ADD PRIMARY KEY ("stateId");')
####################

#### MEDIAN HOUSEHOLD INCOME STANDARD ERROR ####

In [42]:
medHouseIncomeStderrData = ucrData('raw/clean_census_median_household_income_stderr.csv')
# conn.execute('DROP TABLE IF EXISTS median_household_income_stderr;')

In [43]:
medHouseIncomeStderrData.to_sql(name='median_household_income_stderr', con=engine, if_exists = 'replace', index=False)
conn.execute('ALTER TABLE median_household_income_stderr ADD PRIMARY KEY ("stateId");')
####################

#### STATE COORDINATES ####

In [47]:
choroplethCoordsData = choroplethCoords()
# conn.execute('DROP TABLE IF EXISTS state_coordinates;')

In [48]:
choroplethCoordsData.to_sql(name='state_coordinates', con=engine, if_exists='replace', index=True)
conn.execute('ALTER TABLE state_coordinates ADD PRIMARY KEY (index);')
################

#### SCHOOL SHOOTINGS ####

In [50]:
schoolShootingsData = schoolShootings()
# conn.execute('DROP TABLE IF EXISTS school_shootings;')

In [51]:
schoolShootingsData.to_sql(name='school_shootings', con=engine, if_exists='replace', index=True)
conn.execute('ALTER TABLE school_shootings ADD PRIMARY KEY (index);')
####################

#### FORECLOSURES ####

In [52]:
foreclosureData = foreclosureData()
# conn.execute('DROP TABLE IF EXISTS foreclosure;')

In [53]:
foreclosureData.to_sql(name='foreclosure', con=engine, if_exists = 'replace', index=True)
conn.execute('ALTER TABLE foreclosure ADD PRIMARY KEY (index);')
####################

#### SNAP ####

In [54]:
snapData = snapData()
# conn.execute('DROP TABLE IF EXISTS snap;')

In [55]:
snapData.to_sql(name='snap', con=engine, if_exists = 'replace', index=True)
conn.execute('ALTER TABLE snap ADD PRIMARY KEY (index);')
####################