In [12]:
#################################################
# Dependencies
#################################################
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine, MetaData, func #connect to database
# from sqlalchemy.ext.declarative import declarative_base #classes into tables
from sqlalchemy import Column, Integer, String, Float, Date, VARCHAR #allow us to declare column typs
from sqlalchemy.dialects.mysql import LONGTEXT
from sqlalchemy.orm import Session
from sqlalchemy.ext.automap import automap_base
import pymysql
# pymysql.install_as_MySQLdb() # starts creating connection from Python to SQL database

from dataEngineering import choroplethCoords, ucrData, schoolShootings, foreclosureData, snapData

In [13]:
#################################################
# Engine Setup
#################################################
# engine = create_engine('sqlite:///data/data.sqlite')
engine = create_engine('postgres://lqehqdnexeuwdi:e299f2b76843b838b81976e7cb183859f28b1cd99e6aa417fdce1340ce00fece@ec2-54-243-210-70.compute-1.amazonaws.com:5432/dbenqc5p6hbe3e')
# engine = create_engine('mysql://root:0i5JwkgSIOzEp1I@localhost:3306/CrimeMapping')
# engine = create_engine('postgresql://nupur_mathur:1BPdfWvnTSvMGDrPp48u5pQF0@localhost/crime_data')

# Create connection
conn = engine.connect()

In [17]:
meta = MetaData()
meta.reflect(bind=engine)

In [11]:
for table in reversed(meta.sorted_tables):
    print (table)

violent_crime
unemployment
state_coordinates
snap
school_shootings
population
murder
foreclosure

#### VIOLENT CRIME RATE ####

In [ ]:
conn.execute('DROP TABLE IF EXISTS vcr;')

In [14]:
vcrData = ucrData('raw/ucr_violent_crime_rate_by_state.csv')
# conn.execute('DROP TABLE IF EXISTS vcr;')

In [15]:
vcrData.to_sql(name='vcr', con=engine, if_exists ='replace', index=False)

In [16]:
conn.execute('ALTER TABLE vcr ADD PRIMARY KEY ("stateId");')
####################

#### VIOLENT CRIME ####

In [ ]:
violentCrimeData = ucrData('raw/ucr_violent_crime_total.csv')
violentCrimeData.head()

In [ ]:
# conn.execute('DROP TABLE IF EXISTS violent_crime;')
violentCrimeData.to_sql(name='violent_crime', con=engine, if_exists = 'replace', index=False)
conn.execute('ALTER TABLE violent_crime ADD PRIMARY KEY ("stateId");')
####################

#### MURDER ####

In [ ]:
murderData = ucrData('raw/ucr_murder_and_nonnegligent_manslaughter.csv')
murderData.head()
# conn.execute('DROP TABLE IF EXISTS violent_crime;')

In [ ]:
murderData.to_sql(name='murder', con=engine, if_exists = 'replace', index=False)
conn.execute('ALTER TABLE murder ADD PRIMARY KEY ("stateId");')
####################

#### UNEMPLOYMENT ####

In [ ]:
unemploymentData = ucrData('raw/clean_unemployment_by_state.csv')
unemploymentData.head()
# conn.execute('DROP TABLE IF EXISTS unemployment;')

In [ ]:
unemploymentData.to_sql(name='unemployment', con=engine, if_exists ='replace', index=False)
conn.execute('ALTER TABLE unemployment ADD PRIMARY KEY ("stateId");')
####################

#### POPULATION ####

In [ ]:
populationData = ucrData('raw/clean_population_by_year.csv')
# conn.execute('DROP TABLE IF EXISTS population;')

In [ ]:
populationData.to_sql(name='population', con=engine, if_exists = 'replace', index=False)
conn.execute('ALTER TABLE population ADD PRIMARY KEY ("stateId");')
####################

#### MEDIAN HOUSEHOLD INCOME ####

In [ ]:
medHouseIncomeData = ucrData('raw/clean_census_median_household_income.csv')

In [ ]:
conn.execute('DROP TABLE IF EXISTS median_household_income;')

In [ ]:
medHouseIncomeData.to_sql(name='median_household_income', con=engine, if_exists = 'replace', index=False)
conn.execute('ALTER TABLE median_household_income ADD PRIMARY KEY ("stateId");')
####################

#### MEDIAN HOUSEHOLD INCOME STANDARD ERROR ####

In [ ]:
medHouseIncomeStderrData = ucrData('raw/clean_census_median_household_income_stderr.csv')

In [ ]:
conn.execute('DROP TABLE IF EXISTS median_household_income_stderr;')

In [ ]:
medHouseIncomeStderrData.to_sql(name='median_household_income_stderr', con=engine, if_exists = 'replace', index=False)
conn.execute('ALTER TABLE median_household_income_stderr ADD PRIMARY KEY ("stateId");')
####################

#### STATE COORDINATES ####

In [ ]:
choroplethCoordsData = choroplethCoords()
# conn.execute('DROP TABLE IF EXISTS state_coordinates;')

In [ ]:
conn.execute('DROP TABLE IF EXISTS state_coordinates;')

In [ ]:
choroplethCoordsData.to_sql(name='state_coordinates', con=engine, if_exists='replace', index=False)
conn.execute('ALTER TABLE state_coordinates ADD PRIMARY KEY ("stateId");')
################

#### SCHOOL SHOOTINGS ####

In [ ]:
schoolShootingsData = schoolShootings()
# conn.execute('DROP TABLE IF EXISTS school_shootings;')

In [ ]:
schoolShootingsData.to_sql(name='school_shootings', con=engine, if_exists='replace', index=True)
conn.execute('ALTER TABLE school_shootings ADD PRIMARY KEY (index);')
####################

#### FORECLOSURES ####

In [5]:
foreclosureData = foreclosureData()
# conn.execute('DROP TABLE IF EXISTS foreclosure;')

In [6]:
foreclosureData.head()

   year  foreclosure_filings  completed_foreclosures  home_repos
0  2016               956864                  427997      203108
1  2015              1147365                  575378      327069
2  2014              1117426                  575378      327069
3  2013              1369405                  921064      463108
4  2012              2300000                 2100000      700000

In [7]:
conn.execute('DROP TABLE IF EXISTS foreclosure;')

In [8]:
foreclosureData.to_sql(name='foreclosure', con=engine, if_exists = 'replace', index=True)

In [9]:
conn.execute('ALTER TABLE foreclosure ADD PRIMARY KEY (index);')
####################

#### SNAP ####

In [ ]:
snapData = snapData()
snapData.head()
# conn.execute('DROP TABLE IF EXISTS snap;')

In [ ]:
snapData.to_sql(name='snap', con=engine, if_exists = 'replace', index=True)
conn.execute('ALTER TABLE snap ADD PRIMARY KEY (index);')
####################